lottery-module {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	justify-items: center;
	

}
lottery-module > * {
	transition: 0.2s;
}

lottery-module .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}
lottery-module .buttons button {
	/*display: block;*/
	padding: 20px;
	/*color: black;*/
	width: 100%;


}

lottery-module ul {
	background-color: hsla(16, 80%, 80%, 1.00);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	gap: 25px;
	padding: 40px;

	width: 100%;
}
lottery-module ul li {
	/*position: relative;*/
}
lottery-module ul .dials {
	/*color: black;*/
	border-radius: 50%;
	background-color: var(--shade);
	display: none;


}
lottery-module ul .dials + label {
	padding: 20px;
	/*color: black;*/
	border-radius: 50%;
	background-color: var(--shade);
	position: relative;

	cursor: pointer;
	color: white;

}
lottery-module ul label span {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;

}





lottery-module ul .dials + label::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: hsla(215, 100%, 88%, 0.30);
	transition: 0.3s;
	z-index: 1;

	
}
lottery-module ul .dials + label:hover::after {
	padding: 35%;
}
lottery-module ul .dials:checked + label::after {
	padding: 60%;
	background-color: forestgreen;

}